body {
  font-family: arial, sans-serif;
  background: #4d3565;
  border-radius: 10px;
}

h1 {
  color: #4d3565;
  font-size: 40px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #4c4e52;
  margin-bottom: 2px;
  padding: 0;
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: radial-gradient(
    circle at 0.3% 1.3%,
    rgb(235, 217, 221) 0%,
    rgb(216, 174, 211) 45.1%,
    rgb(145, 130, 196) 100.2%
  );
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  color: rgb(33, 33, 33);
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

a {
  text-decoration: none;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.btn-primary {
  background-color: #4d3565;
  color: #f6f2fe;
  text-align: center;
  display: block;
  border: 1px solid #4d3565;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
  transition: all 200ms ease-in-out;
}

.btn-primary:hover {
  background-color: #f6f2fe;
  color: #4d3565;
}

.city {
  color: #b373db;
}

#temperature {
  color: #4d3565;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #000;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

small {
  color: #ffffff;
}
